.project-cont {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}



.project {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding: 8px;
  margin: 10px 25px;
  
  flex: 0 0 220px;
  
  border: 1px solid var(--text-color);
  border-radius: 4px;
}

.project:hover {
  border-bottom: var(--text-color) solid 1px;
}


@supports (display: grid) {
  .project-cont {
    display: grid;
    grid-gap: 20px ;
    grid-template-columns: 1fr 1fr;
  }
  .project {
    margin: 0;
    flex: inherit;
  }
}

@media (max-width: 550px) {
  .project {
    flex: 1 0 150px;
  }
}

.project__name {
  display: inline-block;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.project__desc {
  font-size: 1rem;
}

.tags {
  display: flex;
  margin-top: auto;
  padding-top: 10px;
  font-size: 0.8rem;
}

.tag {
  border-radius: 4px;
  padding: 4px 8px;
  margin-right: 5px;
}

.tag.vue,
.tag.vuepress {
  background-color: #41b883;
  color: #000;
}

.tag.svelte {
  background-color: #ff3e00;
  color: #000;
}

.tag.cordova {
  background-color: #4cc2e4;
  color: #000;
}

.tag.react {
  background-color: #61dafb;
  color: #000;
}

.tag.angular {
  background-color: #dd0031;
  color: #fff;
}

.tag.angularjs {
  background-color: #d63137;
  color: #fff;
}

.tag.eleventy {
  background-color: #628c9d;
  color: #fff;
}
