<h2>Hobbies</h2>

<p>Pages related to misc hobbies of mine.</p>
<hr />
<h2>
  <a href="/recipes/">Cooking Recipes</a>
</h2>
<ul class="postlist">
  {% for recipe in collections.recipes %}
  <li
    class="postlist-item{% if recipe.url == url %} postlist-item-active{% endif %}"
  >
    <a href="{{ recipe.url | url }}" class="postlist-link">
      {% if recipe.data.title %}
      {{ recipe.data.title }}
      {% else %}
      <code>{{ recipe.url }}</code>
      {% endif %}
    </a>
    <time
      class="postlist-date"
      datetime="{{
        recipe.date
          .toLocaleDateString('en-NZ', {
            year: 'numeric',
            month: 'numeric',
            day: '2-digit'
          })
          .split('/')
          .reverse()
          .join('-')
      }}"
    >
      {{
        recipe.date.toLocaleDateString('en-NZ', {
          year: 'numeric',
          month: 'short',
          day: 'numeric'
        })
      }}
    </time>
    {% for tag in recipe.data.recipeTags %} {%- if tag != "posts" -%} {% set
    tagUrl %}/tags/{{ tag }}/{% endset %}
    <a href="{{ tagUrl | url }}" class="post-tag">#{{ tag | formatTag }}</a>
    {%- endif -%} {%- if not loop.last %}, {% endif %} {% endfor %}
  </li>
  {% endfor %}
</ul>

<hr />

<h2>Other Stuff!</h2>
<ul class="postlist">
  {% for page in collections.hobbies %}
  <li
    class="postlist-item{% if page.url == url %} postlist-item-active{% endif %}"
  >
    <a href="{{ page.url | url }}" class="postlist-link">
      {% if page.data.title %}
      {{ page.data.title }}
      {% else %}
      <code>{{ page.url }}</code>
      {% endif %}
    </a>
    <time
      class="postlist-date"
      datetime="{{
        page.date
          .toLocaleDateString('en-NZ', {
            year: 'numeric',
            month: 'numeric',
            day: '2-digit'
          })
          .split('/')
          .reverse()
          .join('-')
      }}"
    >
      {{
        page.date.toLocaleDateString('en-NZ', {
          year: 'numeric',
          month: 'short',
          day: 'numeric'
        })
      }}
    </time>
    {% for tag in page.data.tags %} {%- if tag != "posts" -%} {% set tagUrl
    %}/tags/{{ tag }}/{% endset %}
    <a href="{{ tagUrl | url }}" class="post-tag">#{{ tag | formatTag }}</a>
    {%- endif -%} {%- if not loop.last %}, {% endif %} {% endfor %}
  </li>
  {% endfor %}
</ul>
