<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      property="og:title"
      content="{{ title if title else global.blogTitle }}"
    />
    <title>{{ title if title else global.blogTitle }}</title>

    <meta property="og:site_name" content="Mathew-Paul.nz" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://mathew-paul.nz{{ page.url }}" />

    <meta
      name="description"
      content="{{ description if description else global.description }}"
    />
    <meta
      property="og:description"
      content="{{ description if description else global.description }}"
    />

    {%- set css -%} {% include "css/critical.css" %} {%- endset %}
    <style>
      {{css  | safe}}
    </style>

    <link rel="preload" href="/css/style.css{{ '' | cacheBust }}" as="style" />
    <link rel="stylesheet" href="/css/style.css{{ '' | cacheBust }}" />
    <link
      rel="preload"
      href="/css/prismjs.css{{ '' | cacheBust }}"
      as="style"
    />
    <link rel="stylesheet" href="/css/prismjs.css{{ '' | cacheBust }}" />
    {% if pageCss %}
    <link
      rel="preload"
      href="{{ '/css/' + pageCss + '.css' | cacheBust }}"
      as="style"
    />
    <link
      rel="stylesheet"
      href="{{ '/css/' + pageCss + '.css' | cacheBust }}"
    />
    {% endif %}
  </head>

  <body>
    <script src="/js/theme-select.js"></script>

    {% include "header.njk" %} {% if showProgress %}
    <progress class="page-progess" max="100" value="0"></progress>
    {% endif %}
    <main>
      {{ content | safe }}
    </main>

    {% include "footer.njk" %}
    <script src="/js/main.js"></script>
    <script
      data-goatcounter="https://mathew-paul.goatcounter.com/count"
      async
      src="//gc.zgo.at/count.js"
    ></script>
  </body>
</html>
