<footer>
  <nav class="footer-nav">
    {% extLink global.github,
    "Github" %}
    {% extLink global.twitter,
    "Twitter" %}
    {% extLink global.martialBlog.url,
    global.martialBlog.title %}
  </nav>
</footer>