<footer>
  <nav class="footer-nav">
    {% extLink global.github,
    "Github" %}
    {% extLink global.twitter,
    "Twitter" %}

    {% if global.martialBlog.url %}
      {% extLink global.martialBlog.url,
      global.martialBlog.title %}
    {% endif %}
  </nav>
</footer>