<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
  </head>
  <body>
    <h1>{{ pageTitle }}</h1>

    <h1>Vue Demo</h1>

    <div id="app">The time is ${ time }</div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      const app = new Vue({
        delimiters: ["${", "}"],
        el: "#app",
        data: {
          time: "to rock",
        },
      });
    </script>
  </body>
</html>
