---
layout: base-layout
date: Last Modified
showProgress: true
---

<article>
  <h1 class="post-title">{{ title }}</h1>
  <div class="post-date">Last updated: {{page.date.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })}}</div>
  {% if tags %}
    <div class="post-tags">
    Tags:
    {% for tag in tags %}
        <a href="{{tag  | tagUrl | url}}">{{tag | capitalize}}</a>
        {% if not loop.last %},{% endif%}
        {% endfor %}
      </div>
    {% endif %}
    <div class="word-count">
      {{content | wordcount}} words
  </div>
    <div class="post-content">{{  content | safe}}</div>
  </article>