---
layout: base-layout
showProgress: true
---

<article>
  <h1 class="post-title">{{ title }}</h1>
  {% if date %}
  <div class="post-date">
    <span>
      Written:
      <time
        class="postlist-date"
        datetime="{{
          page.date.toLocaleDateString('en-NZ', {
            weekday: 'long',
            year: 'numeric',
            month: 'long',
            day: 'numeric'
          })
        }}"
      >
        {{
          page.date.toLocaleDateString('en-NZ', {
            weekday: 'long',
            year: 'numeric',
            month: 'long',
            day: 'numeric'
          })
        }}
      </time>
    </span>
    {% if updated %}
    <span>- Updated:
      <time
        class="postlist-date"
        datetime="{{
          updated.toLocaleDateString('en-NZ', {
            weekday: 'long',
            year: 'numeric',
            month: 'long',
            day: 'numeric'
          })
        }}"
      >
        {{
          updated.toLocaleDateString('en-NZ', {
            weekday: 'long',
            year: 'numeric',
            month: 'long',
            day: 'numeric'
          })
        }}
      </time>
    </span>
    {% endif %}
  </div>
  {% endif %}

  {% if tags %}
  <div class="post-tags">
    {% for tag in tags -%}
    <a href="{{ tag | tagUrl | url }}">#{{ tag | formatTag }}</a>
    {%- if not loop.last %}, {% endif %} {%- endfor %}
  </div>
  {% endif %}
  <hr>
  <div class="post-content">{{ content | safe }}</div>
</article>
