---
layout: base-layout
pageCss: projects
---

{{content | safe}}

<div class="project-cont">
  {%- for project in projectData -%}
    <div class="project">
      <div class="project__text">
        <a href={{project.url}} target="_blank" class="project__name">
          {{project.name}}
        </a>
        <div class="project__desc">
          {{project.description}}
        </div>
      </div>
      <div class="tags">
        {%- for tag in project.tags -%}
          <div class="tag {{tag | lower}}">{{tag | capitalize}}</div>
        {%- endfor -%}
      </div>
    </div>
  {%- endfor -%}
</div>