body {
  background: #efefef;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a[target="_blank"] {
  position: relative;
}

a[target="_blank"]::after {
  content: "↗";
  position: absolute;
  font-size: 10px;
  right: -8px;
  top: -5px;
}

/* Header */

header h1 {
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: 0;
  font-weight: normal;
}

header nav {
  margin-top: 1em;
  max-width: 100%;
  margin-bottom: 1em;
}

header.blog-header {
  padding: 15px 30px;
  display: flex;
  align-items: flex-end;
}

header .blog-name {
  display: block;
  font-size: 24px;
  margin: 0 15px 0 0;
}

header .links {
  display: block;
  margin: 0;
}

header .links a {
  margin-left: 8px;
}

/* End header */

main {
  max-width: 700px;
  margin: auto;
  width: 90vw;
  flex-grow: 1;
  background: #fff;
  padding: 10px 15px;
}

nav li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-nav {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.footer-nav > * {
  margin: 0 10px;
}

@supports (gap: 20px) {
  .footer-nav {
    gap: 20px;
  }
  .footer-nav > * {
    margin: 0;
  }
}

.post-tags,
.post-date,
.word-count {
  font-size: 0.9em;
}
